body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("markus-spiske-MI9-PY5cyNs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
    opacity: 1;
    transition: 250ms;
    transition-duration: 0.7s;
    transition-property: opacity;
}

body.fade {
    opacity: 0;
  }


#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: red;
    border-bottom: 2px solid #000000;
    transition: transform 250ms;
}

#container:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgb(49, 175, 248);
}

.wrapper{
    display: flex;
    background: teal;
}

.box1{
   display: flex;
   background: yellow;
   text-shadow: #f30e0e;
  border-radius: 4px;
  font-weight: normal;
  transition: transform 250ms;
 transition: all 0.2s ease-in-out;
}

.box1:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgb(239, 10, 10);
}

.box2{
    display: flex;
}

.box3{
    display: flex;
    transition: transform 250ms;
}

.box3:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgb(247, 227, 6);
}

.wrapper:hover{
    transform: translateY(-10px);
}

